@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

*{font-family: 'Roboto', sans-serif;
    }
li{
    list-style: none;
}
.menu{
    display:flex ;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    min-height: 100px;
    width: 100%;
    margin-left: 0%;
    margin-right:0%;
}
.opciones_menu{
    
   width:100px;
}
.opciones_menu:hover{
    transform: scale(1.2);
    margin-right: 25px;
    margin-left: 25px;

}
span{
    color: blue;
}
#option_one, #option_three{
    color:brown;
    font-weight:900;
    background-color: aquamarine;
    margin-left: 20px;
}
.options_group{
    background-color: black;
    padding:2px;
}
[disable]{
    background-color: brown;
}
.options_group.other_option{
    font-size: 20px;
}